.container {
  display: block;
  margin: 10px auto;
  @include desktop{
    display: flex;
    justify-content: center;
  }
  @include tablet{
    display: flex;
    justify-content: center;
  }
  .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: lightseagreen;
  }

  .item {
    flex-basis: 50%;
    padding: 10px 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
    @include mobile{
      margin-bottom: 20px;
    }
    .button {
      text-align: end;
      button {
        padding: 10px 20px;
        background-color: $secondary_color;
        border: none;

        color: $primary_color;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;
      border-bottom: 1px solid #eee;

      .edit {
        color: $secondary_color;
        cursor: pointer;
    }
    .delete {
        color: red;
        cursor: pointer;
      }
    }
  }
  .item + .item {
    margin-left: 10px;
  }
}

.hover {
&:hover{
        cursor: pointer;
        background-color: rgba(203, 219, 59, 0.2);
      color: rgb(99, 147, 236);
}
}
