.home{
    @include setBackground;
    
    .content{
        @include centerScreen;
        text-align: center;
        h1{
            color: $primary_color;
            font-size: 2.5em;
            margin-bottom: 30px;
        }
        a{
            background-color: transparent;
            border: 1px solid $primary_color;
            padding: 10px 30px;
            color: $primary_color;
            font-size: 1.2em;
            cursor: pointer;

            &:hover{
                background-color: orangered;
                border-color: orangered;
                transition: all .5s;
            }
        }
    }
   
}

